<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Эхо Доброты</title>
    <link rel='stylesheet' href='style.css'>
    <style>
        .img1{
            position: absolute;
            width: 100%; 
            height: 100%; 
            left: 200px; 
            right: 200px;
        }
        *{
            margin:0;
        }
        body{
            font-family: 'Montserrat';
        }
    </style>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: #D7E0FF">
        <div style="width: 1918px; height: 1668px; left: -280px; top: -115px; position: absolute">
            <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 1045px; top: 795px; position: absolute">
                <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
            </div>
        </div>
        <div style="width: 1918px; height: 1668px; left: -344px; top: 1444px; position: absolute">
            <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 1045px; top: 795px; position: absolute">
                <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
            </div>
        </div>
        <div style="width: 1918px; height: 1668px; left: -192px; top: 2884px; position: absolute">
            <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 1045px; top: 795px; position: absolute">
                <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
            </div>
        </div>
        <div style="width: 338px; height: 369px; left: 1033px; top: 222px; position: absolute">
            <div style="width: 337px; height: 326px; left: 0px; top: 40px; position: absolute; background: linear-gradient(180deg, #6E7899 42%, #B8C8FF 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-top-left-radius: 200px; border-top-right-radius: 10px; border-bottom-right-radius: 200px; border-bottom-left-radius: 200px; border: 8px #96AEFF solid"></div>
            <div style="width: 338px; height: 291px; left: 0px; top: 57px; position: absolute; background: #F5F5F5; box-shadow: 100px 100px 100px; border-radius: 9999px; filter: blur(100px)"></div>
            <img style="width: 322px; height: 369px; left: 8px; top: 0px; position: absolute; border-top-left-radius: 200px; border-top-right-radius: 200px" src="img/xz.png" class='img1'/>
        </div>
        <div style="width: 354px; height: 369px; left: 68px; top: 222px; position: absolute">
            <div style="width: 354px; height: 342.72px; left: 0px; top: 26.28px; position: absolute; background: linear-gradient(180deg, #6E7899 42%, #B8C8FF 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-top-left-radius: 10px; border-top-right-radius: 200px; border-bottom-right-radius: 200px; border-bottom-left-radius: 200px; border: 8px #96AEFF solid"></div>
            <div style="width: 320.39px; height: 313.28px; left: 33.61px; top: 55.72px; position: absolute; background: #F5F5F5; box-shadow: 100px 100px 100px; border-radius: 9999px; filter: blur(100px)"></div>
            <img style="width: 354px; height: 369px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 200px; border-top-right-radius: 200px" src="img/babys.png" />
        </div>
        <div style="width: 557px; height: 254px; left: 449px; top: 222px; position: absolute">
            <div style="width: 557px; height: 254px; left: 0px; top: 0px; position: absolute; background: rgba(245, 245, 245, 0.50); border-radius: 50px"></div>
            <div style="width: 527px; left: 15px; top: 70px; position: absolute; text-align: center; color: black; font-size: 31px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Вместе меняем мир: каждое доброе дело — шаг к светлому будущему!</div>
        </div>
        <div style="width: 212px; height: 62px; left: 464px; top: 498px; position: absolute; background: #96AEFF; border-radius: 50px"></div>
        <div style="width: 222px; height: 62px; left: 769px; top: 498px; position: absolute; background: #96AEFF; border-radius: 50px"></div>
        <div style="width: 168px; height: 34px; left: 486px; top: 514px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">хочу помочь</div>
        <div style="left: 783px; top: 514px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">нужна помощь</div>
        <div style="width: 637px; height: 145px; left: 408px; top: 730px; position: absolute">
            <div style="width: 115px; height: 112px; left: 0px; top: 0px; position: absolute; background: #96AEFF; border-radius: 9999px; border: 5px #F5F5F5 solid"></div>
            <div style="width: 115px; height: 112px; left: 261px; top: 0px; position: absolute; background: #96AEFF; border-radius: 9999px; border: 5px #F5F5F5 solid"></div>
            <div style="width: 115px; height: 112px; left: 522px; top: 0px; position: absolute; background: #96AEFF; border-radius: 9999px; border: 5px #F5F5F5 solid"></div>
            <div style="left: 8px; top: 121px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Новости</div>
            <div style="left: 275px; top: 121px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Помощь</div>
            <div style="left: 533px; top: 121px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Вебинар</div>
            <div style="width: 103px; height: 106px; left: 8px; top: 3px; position: absolute">
                <div style="width: 67.54px; height: 69.66px; left: 17.66px; top: 18.17px; position: absolute; background: white"></div>
            </div>
            <div style="width: 90px; height: 88px; left: 274px; top: 12px; position: absolute">
                <div style="width: 90px; height: 88px; left: 0px; top: 88px; position: absolute">
                    <div style="width: 90px; height: 88px; left: 0px; top: 0px; position: absolute; background: black"></div>
                    <div style="width: 85.26px; height: 49.89px; left: 2.37px; top: -19.06px; position: absolute">
                        <div style="width: 43.29px; height: 49.89px; left: 41.97px; top: -0px; position: absolute; background: white"></div>
                        <div style="width: 43.30px; height: 49.89px; left: 0px; top: 0px; position: absolute; background: white"></div>
                    </div>
                </div>
            </div>
            <div style="width: 79px; height: 73px; left: 540px; top: 23px; position: absolute">
                <div style="width: 74.06px; height: 63.88px; left: 2.47px; top: 4.56px; position: absolute; background: white"></div>
            </div>
        </div>
        <div style="left: 192px; top: 1025px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Montserrat Alternates; font-weight: 800; word-wrap: break-word">О фонде</div>
        <div style="left: 192px; top: 1025px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Montserrat Alternates; font-weight: 800; word-wrap: break-word">О фонде</div>
        <div style="width: 1440px; height: 64px; left: 0px; top: 0px; position: absolute">
            <div style="width: 1440px; height: 63px; left: 0px; top: 0px; position: absolute; background: #B8C8FF"></div>
            <div style="width: 243px; height: 63px; left: 44px; top: 1px; position: absolute">
                <img style="width: 83px; height: 63px; left: 0px; top: 0px; position: absolute" src="img/logotip.png"/>
                <div style="left: 83px; top: 19px; position: absolute; color: #990079; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ЭХО ДОБРОТЫ</div>
            </div>
            <div style="width: 876px; height: 40px; left: 371px; top: 11px; position: absolute">
                <div style="width: 715px; height: 22px; left: 0px; top: 10px; position: absolute">
                    <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">О фонде</div>
                    <div style="left: 127px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Проекты</div>
                    <div style="left: 266px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Отчёты</div>
                    <div style="left: 402px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Пожертвовать</div>
                    <div style="left: 604px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Контакты</div>
                </div>
                <div style="width: 117px; height: 40px; left: 759px; top: 0px; position: absolute">
                    <div style="width: 117px; height: 40px; left: 0px; top: 0px; position: absolute; background: #D7E0FF; border-radius: 50px"></div>
                    <div style="left: 26px; top: 9px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Войти</div>
                </div>
            </div>
            <div style="width: 134px; height: 47px; left: 1280px; top: 8px; position: absolute">
                <div style="width: 134px; height: 47px; left: 0px; top: 0px; position: absolute; background: #96AEFF; border-radius: 50px"></div>
                <div style="width: 110px; left: 12px; top: 6px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Режим для слабовидящих</div>
            </div>
        </div>
        <div style="width: 686px; height: 407px; left: 79px; top: 1117px; position: absolute">
            <div style="width: 686px; height: 407px; left: 0px; top: 0px; position: absolute; background: rgba(245, 245, 245, 0.50); border-radius: 50px"></div>
            <div style="width: 629px; left: 37px; top: 43px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Наш Фонд создан как пространство, где встречаются те, кто нуждается в помощи, и те, кто готов ее оказать. Мы не делаем различий по возрасту, национальности или вероисповеданию — для нас важны только сострадание и поддержка. С нами — тысячи неравнодушных людей, готовых протянуть руку помощи пожилым гражданам. Мы стремимся внести свой вклад в создание общества, где забота о старшем поколении становится нормой.</div>
        </div>
        <div style="width: 625px; left: 93px; top: 1553px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Благотворительный Фонд помощи пожилым людям «Эхо доброты» был основан в 2020 году.
      </div>
        <div style="left: 86px; top: 1640px; position: absolute; text-align: center"><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 300; word-wrap: break-word">
      </span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 800; word-wrap: break-word">Наша миссия:</span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 300; word-wrap: break-word"> </span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Мы рядом, когда вы в этом нуждаетесь.
      </span></div>
        <div style="width: 701px; left: 661px; top: 1752px; position: absolute"><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">Мы оказываем:
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Медицинскую помощь пожилым людям, когда она не доступна через государственные программы.<br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Обеспечиваем пожилых людей необходимыми средствами для покупки продуктов питания и других жизненно важных товаров.
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Социальную поддержку и помощь в решении бытовых вопросов для пожилых граждан и их семей.
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Правовую помощь для пожилых людей, сталкивающихся с трудностями в защите своих прав.</span></div>
        <div style="width: 1236px; height: 810.01px; left: 102px; top: 3060px; position: absolute">
            <div style="left: 75px; top: 0px; position: absolute; color: black; font-size: 40px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">Нужна помощь?</div>
            <div style="width: 493px; height: 44px; left: 0px; top: 125px; position: absolute; background: white"></div>
            <div style="width: 493px; height: 44px; left: 0px; top: 309px; position: absolute; background: white"></div>
            <div style="width: 493px; height: 44px; left: 0px; top: 215px; position: absolute; background: white"></div>
            <div style="width: 594px; left: 0px; top: 470px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Напишите свою проблему или то, в чём вы нуждаетесь, и вам ответят в течение дня.</div>
            <div style="left: 694px; top: 553px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Спасибо! Вам ответят в течение дня.</div>
            <div style="left: 0px; top: 93px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Укажите ваше Ф.И.О.</div>
            <div style="left: 0px; top: 183px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Укажите вашу почту (если есть).</div>
            <div style="left: 0px; top: 277px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Укажите ваш номер телефона.</div>
            <div style="width: 493px; height: 44px; left: 0px; top: 408px; position: absolute; background: white"></div>
            <div style="width: 493px; height: 212px; left: 0px; top: 529px; position: absolute; background: white"></div>
            <div style="left: 0px; top: 371px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Укажите ваш регион проживания.</div>
            <div style="left: 663px; top: 3px; position: absolute; color: black; font-size: 40px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">Хочу стать волонтёром</div>
            <div style="width: 493px; height: 44px; left: 663px; top: 124px; position: absolute; background: white"></div>
            <div style="width: 493px; height: 44px; left: 665px; top: 309px; position: absolute; background: white"></div>
            <div style="width: 493px; height: 44px; left: 663px; top: 215px; position: absolute; background: white"></div>
            <div style="left: 663px; top: 93px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Укажите ваше Ф.И.О.</div>
            <div style="left: 663px; top: 183px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Укажите вашу почту.</div>
            <div style="left: 663px; top: 272px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Укажите ваш номер телефона.</div>
            <div style="width: 493px; height: 44px; left: 663px; top: 408px; position: absolute; background: white"></div>
            <div style="left: 665px; top: 371px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Укажите ваш регион проживания.</div>
            <div style="width: 804.01px; height: 0px; left: 618px; top: 6px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px black solid"></div>
            <div style="width: 177px; height: 50px; left: 158px; top: 759px; position: absolute; background: #96AEFF; border-radius: 50px"></div>
            <div style="left: 178px; top: 772px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Отправить</div>
            <div style="width: 177px; height: 50px; left: 819px; top: 470px; position: absolute; background: #96AEFF; border-radius: 50px"></div>
            <div style="left: 839px; top: 483px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Отправить</div>
        </div>
        <div style="width: 734px; left: 91px; top: 2361px; position: absolute"><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">Наши принципы:
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">
      <br/>• Мы помогаем независимо от возраста и статуса. Каждый пожилой человек заслуживает внимания и заботы.
      <br/>
      <br/>• В нашей стране недостаточно фондов, специализирующихся на помощи пожилым людям. Мы стремимся восполнить этот пробел.
      <br/>
      <br/>• Мы поддерживаем инновационные идеи в благотворительности и активно развиваем новые подходы к помощи.
      <br/>
      <br/>• Мы работаем с профессионалами различных сфер, чтобы обеспечить наиболее эффективную поддержку тем, кто оказался в трудной жизненной ситуации.
      <br/>
      <br/>• Мы открыты и прозрачны для наших партнеров и благотворителей.
      </span></div>
        <div style="width: 1440px; height: 216px; left: 0px; top: 3988px; position: absolute">
            <div style="width: 1440px; height: 216px; left: 0px; top: 0px; position: absolute; background: #96AEFF"></div>
            <div style="left: 127px; top: 55px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Контакты</div>
            <div style="left: 272px; top: 55px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Отчёты</div>
            <div style="left: 127px; top: 85px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Политика конфиденциальности</div>
            <div style="left: 854px; top: 141px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">© 2020-2024. Благотворительный фонд “Эхо доброты”</div>
            <div style="left: 127px; top: 141px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">chkhelagroup@echodobroty</div>
            <div style="width: 1204.01px; height: 0px; left: 127px; top: 119px; position: absolute; border: 1px #6B6B6B solid"></div>
        </div>
        <div style="width: 473px; height: 448px; left: 93px; top: 1768px; position: absolute">
            <div style="width: 464.61px; height: 417.14px; left: 0px; top: 23.41px; position: absolute; background: linear-gradient(180deg, #6E7899 42%, #B8C8FF 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-top-left-radius: 10px; border-top-right-radius: 300px; border-bottom-right-radius: 300px; border-bottom-left-radius: 300px; border: 8px #96AEFF solid"></div>
            <div style="width: 224.44px; height: 235.17px; left: 8.39px; top: 137.27px; position: absolute; background: white; box-shadow: 100px 100px 100px; border-radius: 9999px; filter: blur(100px)"></div>
            <div style="width: 189.83px; height: 208.57px; left: 274.78px; top: 125.57px; position: absolute; background: white; box-shadow: 100px 100px 100px; border-radius: 9999px; filter: blur(100px)"></div>
            <div style="width: 306.24px; height: 318.18px; left: 95.44px; top: 15.96px; position: absolute; background: white; box-shadow: 100px 100px 100px; border-radius: 9999px; filter: blur(100px)"></div>
            <img style="width: 473px; height: 448px; left: 0px; top: 0px; position: absolute; border-top-left-radius: 300px; border-top-right-radius: 300px" src="https://via.placeholder.com/473x448" />
        </div>
        <div style="width: 486px; height: 1775px; left: 876px; top: 1117px; position: absolute">
            <div style="width: 443px; height: 392px; left: 6px; top: 0px; position: absolute; background: linear-gradient(180deg, #6E7899 42%, #B8C8FF 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-top-left-radius: 300px; border-top-right-radius: 10px; border-bottom-right-radius: 300px; border-bottom-left-radius: 300px; border: 8px #96AEFF solid"></div>
            <div style="width: 443px; height: 392px; left: 43px; top: 1383px; position: absolute; background: linear-gradient(180deg, #6E7899 42%, #B8C8FF 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-top-left-radius: 300px; border-top-right-radius: 10px; border-bottom-right-radius: 300px; border-bottom-left-radius: 300px; border: 8px #96AEFF solid"></div>
            <div style="width: 323.97px; height: 309.50px; left: 125.03px; top: 33.50px; position: absolute; background: white; box-shadow: 100px 100px 100px; filter: blur(100px)"></div>
            <div style="width: 177px; height: 123.52px; left: 21.53px; top: 207px; position: absolute; background: white; box-shadow: 100px 100px 100px; filter: blur(100px)"></div>
            <img style="width: 449px; height: 381px; left: 0px; top: 13px; position: absolute; border-top-left-radius: 400px; border-top-right-radius: 400px" src="https://via.placeholder.com/449x381" />
        </div>
        <div style="width: 452px; height: 437px; left: 910px; top: 2455px; position: absolute">
            <div style="width: 343px; height: 219px; left: 109px; top: 76px; position: absolute; background: white; box-shadow: 100px 100px 100px; border-radius: 9999px; filter: blur(100px)"></div>
            <div style="width: 181px; height: 219px; left: 18px; top: 62px; position: absolute; background: white; box-shadow: 100px 100px 100px; border-radius: 9999px; filter: blur(100px)"></div>
            <div style="width: 181px; height: 219px; left: 190px; top: 0px; position: absolute; background: white; box-shadow: 100px 100px 100px; border-radius: 9999px; filter: blur(100px)"></div>
            <img style="width: 452px; height: 434px; left: 0px; top: 3px; position: absolute; border-top-left-radius: 300px; border-top-right-radius: 300px" src="https://via.placeholder.com/452x434" />
        </div>
    </div>
</body>
</html>