<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Новости</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: #D7E0FF">
        <div style="width: 1440px; height: 64px; left: 0px; top: 0px; position: absolute">
            <div style="width: 1440px; height: 63px; left: 0px; top: 0px; position: absolute; background: #B8C8FF"></div>
            <div style="width: 243px; height: 63px; left: 44px; top: 1px; position: absolute">
                <img style="width: 83px; height: 63px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/83x63" />
                <div style="left: 83px; top: 19px; position: absolute; color: #990079; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ЭХО ДОБРОТЫ</div>
            </div>
            <div style="width: 876px; height: 40px; left: 371px; top: 11px; position: absolute">
                <div style="width: 715px; height: 22px; left: 0px; top: 10px; position: absolute">
                    <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">О фонде</div>
                    <div style="left: 127px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Проекты</div>
                    <div style="left: 266px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Отчёты</div>
                    <div style="left: 402px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Пожертвовать</div>
                    <div style="left: 604px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Контакты</div>
                </div>
                <div style="width: 117px; height: 40px; left: 759px; top: 0px; position: absolute">
                    <div style="width: 117px; height: 40px; left: 0px; top: 0px; position: absolute; background: #D7E0FF; border-radius: 50px"></div>
                    <div style="left: 26px; top: 9px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Войти</div>
                </div>
            </div>
            <div style="width: 134px; height: 47px; left: 1280px; top: 8px; position: absolute">
                <div style="width: 134px; height: 47px; left: 0px; top: 0px; position: absolute; background: #96AEFF; border-radius: 50px"></div>
                <div style="width: 110px; left: 12px; top: 6px; position: absolute; text-align: center; color: black; font-size: 14px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Режим для слабовидящих</div>
            </div>
        </div>
        <div style="left: 123px; top: 111px; position: absolute; color: black; font-size: 40px; font-family: Montserrat Alternates; font-weight: 900; word-wrap: break-word">Новости</div>
        <div style="width: 904px; left: 65px; top: 201px; position: absolute"><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 900; word-wrap: break-word">Успешное завершение акции «Тепло сердец»
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">
      <br/>На прошлой неделе завершилась благотворительная акция «Тепло сердец», в рамках которой было собрано более 500 000 рублей на поддержку пенсионеров в трудной жизненной ситуации. Все средства будут направлены на закупку необходимых медикаментов и продуктов питания для пожилых людей, оказавшихся в изоляции.<br/><br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 900; word-wrap: break-word">Благотворительный марафон «Подарим радость»
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">
      <br/>Приглашаем всех желающих принять участие в благотворительном марафоне «Подарим радость», который пройдет в следующем месяце. Марафон включает в себя виртуальные забеги, конкурсы и акции по сбору средств для помощи пенсионерам. Присоединяйтесь к нам и помогите сделать мир лучше!</span></div>
        <div style="width: 937px; left: 65px; top: 741px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">Следите за нашими обновлениями и присоединяйтесь к благотворительным инициативам, чтобы вместе поддерживать наших пожилых граждан!</div>
        <div style="width: 1440px; height: 216px; left: 0px; top: 913px; position: absolute">
            <div style="width: 1440px; height: 216px; left: 0px; top: 0px; position: absolute; background: #96AEFF"></div>
            <div style="left: 127px; top: 55px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Контакты</div>
            <div style="left: 272px; top: 55px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Отчёты</div>
            <div style="left: 127px; top: 85px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Политика конфиденциальности</div>
            <div style="left: 854px; top: 141px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">© 2020-2024. Благотворительный фонд “Эхо доброты”</div>
            <div style="left: 127px; top: 141px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">chkhelagroup@echodobroty</div>
            <div style="width: 1204.01px; height: 0px; left: 127px; top: 119px; position: absolute; border: 1px #6B6B6B solid"></div>
        </div>
        <img style="width: 309px; height: 310px; left: 1067px; top: 553px; position: absolute; border-radius: 50px; border: 5px #96AEFF solid" src="https://via.placeholder.com/309x310" />
        <img style="width: 315px; height: 303px; left: 1067px; top: 201px; position: absolute; border-radius: 50px; border: 5px #96AEFF solid" src="https://via.placeholder.com/315x303" />
    </div>
</body>
</html>