<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
      <title>Отчёты</title>
  	<link rel="stylesheet"  href="./index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat Alternates:wght@400;700;900&display=swap" />
    <style>
        body{
                background-color: #D7E0FF;
            }
        .icon {
            width: 83px;
            position: relative;
            left: 55px;
            max-width: 63px;
            overflow: hidden;
            height: 60px;
            object-fit: cover;
            }
        .button{
            background: #D7E0FF;
            position: relative;
            top: -10px;
            left: 1140px;
            font-size: 18px;
            text-align: center;
            font-family: Montserrat Alternates;
            width: 100px;
            heighT: 40px;
            border-radius: 50px;
            border: #D7E0FF;
            }
    </style>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: #D7E0FF">
        <div style="width: 1918px; height: 1668px; left: -190px; top: 1331px; position: absolute">
            <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 1045px; top: 795px; position: absolute">
                <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
            </div>
        </div>
        <div style="width: 1918px; height: 1668px; left: -322px; top: -63px; position: absolute">
            <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 1045px; top: 795px; position: absolute">
                <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
            </div>
        </div>
        <div style="left: 147px; top: 311px; position: absolute; color: black; font-size: 40px; font-family: Montserrat Alternates; font-weight: 900; word-wrap: break-word">Основные достижения 2024 года (отчёты): </div>
        <div style="width: 783px; left: 82px; top: 429px; position: absolute"><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">1. Материальная помощь
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">В 2023 году фонд оказал помощь более чем 500 семьям, находящимся в сложных финансовых ситуациях. Были распределены:
      <br/> • Продуктовые наборы на сумму 1,5 миллиона рублей.
      <br/> • Финансовая поддержка в размере 800 тысяч рублей для оплаты коммунальных услуг и аренды жилья.
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">2. Поддержка детей и подростков
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Фонд реализовал несколько программ, направленных на помощь детям и подросткам:
      <br/> • Проведение 12 лагерей для детей из неблагополучных семей, в которых участвовали более 300 детей.
      <br/> • Организация учебных курсов и кружков, включая уроки живописи, музыки и спортивные секции.
      <br/> • Подарки к новогодним праздникам для 200 детей.
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">3. Помощь пожилым людям и инвалидам
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Наши сотрудники и волонтеры провели более 50 выездных акций, где оказывали помощь пожилым людям и инвалидам:
      <br/> • Раздача продуктовых наборов и необходимых вещей.
      <br/> • Предоставление услуг на дому, таких как уборка и помощь в покупках.
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 700; word-wrap: break-word">4. Благотворительные мероприятия
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">В течение года фонд организовал ряд благотворительных мероприятий, которые собрали средства и привлекли внимание общественности:
      <br/> • Концерт «Силы доброты», на котором выступали местные артисты и собрали более 500 тысяч рублей на нужды фонда.
      <br/> • Ярмарка «Доброта в каждом сердце», где были собраны средства на лечение детей.
      <br/>Волонтерская деятельность
      <br/>В нашем фонде активно работают более 100 волонтеров, которые помогают в различных проектах и акциях. Их вклад неоценим, и мы благодарны каждому за их преданность и желание помочь.</span></div>
        <div style="width: 1276px; left: 82px; top: 156px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Благотворительный фонд «Эхо Доброты» был основан с целью оказания помощи нуждающимся и поддержки социально-уязвимых групп населения. В 2024 году мы продолжали нашу работу, отвечая на вызовы времени и стремясь сделать мир лучше для тех, кто в этом нуждается.</div>
        <img style="width: 402px; height: 377px; left: 956px; top: 452px; position: absolute; border-radius: 50px; " src="https://s3-alpha-sig.figma.com/img/73ba/d33b/9a5b31f695344518999eeccfd6b0a616?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Qcrq3kY7BMnJQTF0cWs9IdbXHHrotn0KccW5N33L8eo~t9i2NLYCbGXDNx4M~tViN-neogef8U0V3iaPKYU9uxopBzmca7RZzekwAXBc8b7sicho9s5W09gk4bWjEEyK5S9YX9tZbbxcxHAE-VyvdyB2tgKQqufAQglsx54VGDrHVC1qsuF9aZPyQsDSzQecUaFXS51l1yKFBGuznWvrYU5yhijivoNR0VvJas33EWvszlfqRQGdb46-uumdNzSUMHqcUyiQO6IztqrNMv2N6m6t87r5hvxamyng72H5a8kH3B1GjrBNWcU-OLZTB4hkuVyrztfGLlZaoLvTqmRFpQ__" />
        <img style="width: 402px; height: 377px; left: 956px; top: 1090px; position: absolute; border-radius: 50px; " src="https://s3-alpha-sig.figma.com/img/867e/4afa/b3f3cb2f98ac9065b29821f28f3014eb?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=qiQclY~NnJ8OA2rVsdgAbK-HueZigaPlU4C7g8z1V6FXIzBbVLpzjeWI0SRhupKzDo~7S4SuvmwNWbdQ-DfGdF3bgMGuRi2B6UFe-ioW62I5zLEH8iLTnaGW0b8PXHDB3uOzCicq~PAgf0LQ6FxhXbtVSovaWfTnR2L8LUeSPe6MDow2oUKPu7QvVDYbcbFIZqp0c~f3yIVETMjwkqJPhlMC8EXYrg1PrGYZdG8-JkhY7h6651DIaYlJjnoLGgY3D4UETb~-rXcK1HuRNdkdglHB8vzLw8Gm69ZtHqiuPkbaE11Sv1Zzdwi~EuO1-xHqaiD~9srm1Wso7Gk7UBUViA__" />
        <div style="width: 1038px; left: 208px; top: 1583px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Благодаря поддержке наших партнеров, волонтеров и спонсоров, фонд «Эхо Доброты» продолжает свою работу по помощи тем, кто в ней нуждается. Мы уверены, что вместе мы можем изменить мир к лучшему. В 2025 году мы планируем запустить новые инициативы и расширить нашу деятельность.
      <br/>Приглашаем всех неравнодушных присоединиться к нашей команде и поддержать наши проекты. Вместе мы сделаем добрые дела реальностью!
      <br/>Контакты фонда:
      <br/> • Веб-сайт: www.echodobroty.ru
      <br/> • Email: info@echodobroty.ru
      <br/> • Телефон: +7 (123) 456-78-90
      <br/>
      <br/>С уважением, Команда благотворительного фонда «Эхо Доброты»</div>
        <div style="width: 1440px; height: 216px; left: 0px; top: 2060px; position: absolute">
            <div style="width: 1440px; height: 216px; left: 0px; top: 0px; position: absolute; background: #96AEFF"></div>
            <div style="left: 127px; top: 55px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a name='cont'>Контакты</a></div>
            <div style="left: 272px; top: 55px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word; text-decoration: none;"><a href='page.html'>Отчёты</a></div>
            <div style="left: 127px; top: 85px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Политика конфиденциальности</div>
            <div style="left: 854px; top: 141px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">© 2020-2024. Благотворительный фонд “Эхо доброты”</div>
            <div style="left: 127px; top: 141px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">chkhelagroup@echodobroty</div>
            <div style="width: 1204.01px; height: 0px; left: 127px; top: 119px; position: absolute; border: 1px #6B6B6B solid"></div>
        </div>
        <div style="width: 1440px; height: 64px; left: 0px; top: 0px; position: absolute">
            <div style="width: 1440px; height: 63px; left: 0px; top: 0px; position: absolute; background: #B8C8FF"></div>
            <img class="icon" alt="" src="https://s3-alpha-sig.figma.com/img/e021/7f2a/556c3fea73d85d3e3d6e269a328dc9d2?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pepDkX~83XpXF6dNSQmbzCEed37vPDfOfu3I4tvxaGpPEY0hSX2Pacqd0BIlVkUc0TsNoWTo92rBi5P67v9R1v7mbPy0grGFLOQQNqXaqOIgjjriw0Ofii8PDh40P6dxNX4ipRUNeWPwtLCYnSucOj30YasBHs1M0Ch5zTmucvCoAh90XH2M7v-chRWZQM3~3lB~h1WkQeNcPOIgyD~H53YSqqKfp1kSf3iHrl2WjGqhwYGRHRum9sIn~qxN451MEt0fBX2aA6iqsKGCEgCOnXLB~dXz0WSSF-KTpyjqiYFhtkZxmw2GMDEAQIFGlvuTKUGcf7iWtHJ6o6yIaq~UmQ__">
            <div style="left: 123px; top: 7px; position: absolute; color: #990079; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ЭХО </br>ДОБРОТЫ</div>
        </div>
        <div style="left: 370px; top: 21px; position: relative; left: 380px; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='index.html'>О фонде</a></div>
        <div style="left: 512px; top: 21px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='page8.html' class='fond'>Новости</a></div>
            <div style="left: 637px; top: 21px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Отчёты</div>
            <div style="left: 773px; top: 21px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href="page2.html">Пожертвовать</a></div>
            <div style="left: 975px; top: 21px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word; text-decoration: none;"><a href='#cont'>Контакты</a></div>
            <form action="page3.html">
                <input type="submit"class='button' value="Войти"/>
            </form>
        </div>
    </div>
</body>
</html>