<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat Alternates:wght@400;700;900&display=swap" />
    <title>Войти</title>
    <style>
        body{
            background-color: #D7E0FF;
        }
        .icon {
            width: 83px;
            position: relative;
            left: 55px;
            max-width: 63px;
            overflow: hidden;
            height: 60px;
            object-fit: cover;
        }
        .forma{
            position: relative;
            top: 220px;
            left: 600px;
            font-size: 20px;
            font-family: Montserrat Alternates;
        }
        .name{
            width: 300px;
            height: 25px;
            border-radius: 10px;
            font-family: Montserrat Alternates;
            font-size: 18px;
        }
        .button3{
            width: 160px;
            height: 40px;
            border-radius: 50px;
            font-family: Montserrat Alternates;
            font-size: 18px;
            background: #96AEFF;
            border: #96AEFF;
        }
        .button{
            background: #D7E0FF;
            position: relative;
            top: 0px;
            left: 760px;
            font-size: 18px;
            text-align: center;
            font-family: Montserrat Alternates;
            width: 100px;
            heighT: 40px;
            border-radius: 50px;
            border: #D7E0FF;
        }
    </style>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: #D7E0FF">
        <div style="width: 1918px; height: 1668px; left: -273px; top: -156px; position: absolute">
            <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px #96AEFF solid"></div>
            <div style="width: 873px; height: 873px; left: 1045px; top: 795px; position: absolute">
                <div style="width: 632.31px; height: 632.31px; left: 122.28px; top: 122.28px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 712.80px; height: 712.80px; left: 82.04px; top: 82.04px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 788.64px; height: 788.64px; left: 44.11px; top: 44.11px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
                <div style="width: 873px; height: 873px; left: 0px; top: 0px; position: absolute; opacity: 0.20; border-radius: 9999px; border: 1px rgba(0, 0, 0, 0.40) solid"></div>
            </div>
        </div>
        <div style="width: 1440px; height: 216px; left: 0px; top: 569px; position: absolute">
            <div style="width: 1440px; height: 216px; left: 0px; top: 0px; position: absolute; background: #96AEFF"></div>
            <div style="left: 127px; top: 55px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a id='cont'>Контакты</a></div>
            <div style="left: 272px; top: 55px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='page.html'>Отчёты</a></div>
            <div style="left: 127px; top: 85px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Политика конфиденциальности</div>
            <div style="left: 854px; top: 141px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">© 2020-2024. Благотворительный фонд “Эхо доброты”</div>
            <div style="left: 127px; top: 141px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">chkhelagroup@echodobroty</div>
            <div style="width: 1204.01px; height: 0px; left: 127px; top: 119px; position: absolute; border: 1px #6B6B6B solid"></div>
        </div>
        <div style="width: 1440px; height: 64px; left: 0px; top: 0px; position: absolute">
            <div style="width: 1440px; height: 63px; left: 0px; top: 0px; position: absolute; background: #B8C8FF"></div>
            <div style="width: 243px; height: 63px; left: 44px; top: 1px; position: absolute">
                <img class="icon" alt="" src="https://s3-alpha-sig.figma.com/img/e021/7f2a/556c3fea73d85d3e3d6e269a328dc9d2?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pepDkX~83XpXF6dNSQmbzCEed37vPDfOfu3I4tvxaGpPEY0hSX2Pacqd0BIlVkUc0TsNoWTo92rBi5P67v9R1v7mbPy0grGFLOQQNqXaqOIgjjriw0Ofii8PDh40P6dxNX4ipRUNeWPwtLCYnSucOj30YasBHs1M0Ch5zTmucvCoAh90XH2M7v-chRWZQM3~3lB~h1WkQeNcPOIgyD~H53YSqqKfp1kSf3iHrl2WjGqhwYGRHRum9sIn~qxN451MEt0fBX2aA6iqsKGCEgCOnXLB~dXz0WSSF-KTpyjqiYFhtkZxmw2GMDEAQIFGlvuTKUGcf7iWtHJ6o6yIaq~UmQ__">
                <div style="left: 123px; top: 7px; position: absolute; color: #990079; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ЭХО </br>ДОБРОТЫ</div>
            </div>
            <div style="width: 876px; height: 40px; left: 371px; top: 11px; position: absolute">
                <div style="width: 715px; height: 22px; left: 0px; top: 10px; position: absolute">
                    <div style="left: 0px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='index.html'>О фонде</a></div>
                    <div style="left: 127px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='page8.html'>Новости</a></div>
                    <div style="left: 266px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='page.html'>Отчёты</a></div>
                    <div style="left: 402px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='page2.html'>Пожертвовать</a></div>
                    <div style="left: 604px; top: 0px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='#cont'>Контакты</a></div>
                </div>
                
                <form action="page3.html">
                    <input type="submit"class='button' value="Войти"/>
                </form>

        </div>
        <div style="left: 70px; top: 112px; position: absolute; color: black; font-size: 40px; font-family: Montserrat Alternates; font-weight: 900; word-wrap: break-word">Войти</div>
        <div style="left: 67px; top: 172px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Нет аккаунта?</div>
        <div style="left: 255px; top: 172px; position: absolute; color: black; font-size: 20px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word"><a href='page5.html'>Зарегистрироваться</a></div>
        
        <div class='forma'>
            <form>
                <div>
                    <p class='pas'>Введите номер телефона</p>
                    <input type="text" name="name" class='name' required>
                </div>
                <div>
                    <p class='pas'>Введите пароль</p>
                    <input type="password" name="name" class='name' required>
                </div>
                <div>
                    <p class='pas'><a href='page4.html'>Забыли пароль?</a></p>
                </div>
            <button type="submit" class='button3'>Войти</button>
            </form>
        </div>
    </div>
</body>
</html>