<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat Alternates:wght@400;700;900&display=swap" />
    <title>Новости</title>
    <style>
        body{
            background-color: #D7E0FF;
        }
        .found{
            text-decoration: none;
        }
        .found1{
            text-decoration: none;
        }
        .found2{
            text-decoration: none;
        }
        .found3{
            text-decoration: none;
        }
        .icon {
            width: 83px;
            position: relative;
            left: 55px;
            max-width: 63px;
            overflow: hidden;
            height: 60px;
            object-fit: cover;
        }
        .button{
            background: #D7E0FF;
            position: relative;
            top: -53px;
            left: 1110px;
            font-size: 18px;
            text-align: center;
            font-family: Montserrat Alternates;
            width: 100px;
            heighT: 40px;
            border-radius: 50px;
            border: #D7E0FF;
        }
    </style>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: #D7E0FF">
        <div style="left: 123px; top: 111px; position: absolute; color: black; font-size: 40px; font-family: Montserrat Alternates; font-weight: 900; word-wrap: break-word">Новости</div>
        <div style="width: 904px; left: 65px; top: 201px; position: absolute"><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 900; word-wrap: break-word">Успешное завершение акции «Тепло сердец»
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">
      <br/>На прошлой неделе завершилась благотворительная акция «Тепло сердец», в рамках которой было собрано более 500 000 рублей на поддержку пенсионеров в трудной жизненной ситуации. Все средства будут направлены на закупку необходимых медикаментов и продуктов питания для пожилых людей, оказавшихся в изоляции.<br/><br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 900; word-wrap: break-word">Благотворительный марафон «Подарим радость»
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">
      <br/>Приглашаем всех желающих принять участие в благотворительном марафоне «Подарим радость», который пройдет в следующем месяце. Марафон включает в себя виртуальные забеги, конкурсы и акции по сбору средств для помощи пенсионерам. Присоединяйтесь к нам и помогите сделать мир лучше!</span></div>
        <div style="width: 1440px; height: 216px; left: 0px; top: 1416px; position: absolute">
            <div style="width: 1440px; height: 216px; left: 0px; top: 0px; position: absolute; background: #96AEFF"></div>
            <div style="left: 127px; top: 55px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a name='#cont' class='contact'>Контакты</a></div>
            <div style="left: 272px; top: 55px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='page.html'>Отчёты</a></div>
            <div style="left: 127px; top: 85px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Политика конфиденциальности</div>
            <div style="left: 854px; top: 141px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">© 2020-2024. Благотворительный фонд “Эхо доброты”</div>
            <div style="left: 127px; top: 141px; position: absolute; color: #6B6B6B; font-size: 16px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">chkhelagroup@echodobroty</div>
            <div style="width: 1204.01px; height: 0px; left: 127px; top: 119px; position: absolute; border: 1px #6B6B6B solid"></div>
        </div>
        <div style="width: 1440px; height: 64px; left: 0px; top: 0px; position: absolute">
            <div style="width: 1440px; height: 63px; left: 0px; top: 0px; position: absolute; background: #B8C8FF"></div>
            <img class="icon" alt="" src="https://s3-alpha-sig.figma.com/img/e021/7f2a/556c3fea73d85d3e3d6e269a328dc9d2?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pepDkX~83XpXF6dNSQmbzCEed37vPDfOfu3I4tvxaGpPEY0hSX2Pacqd0BIlVkUc0TsNoWTo92rBi5P67v9R1v7mbPy0grGFLOQQNqXaqOIgjjriw0Ofii8PDh40P6dxNX4ipRUNeWPwtLCYnSucOj30YasBHs1M0Ch5zTmucvCoAh90XH2M7v-chRWZQM3~3lB~h1WkQeNcPOIgyD~H53YSqqKfp1kSf3iHrl2WjGqhwYGRHRum9sIn~qxN451MEt0fBX2aA6iqsKGCEgCOnXLB~dXz0WSSF-KTpyjqiYFhtkZxmw2GMDEAQIFGlvuTKUGcf7iWtHJ6o6yIaq~UmQ__">
                <div style="left: 123px; top: 7px; position: absolute; color: #990079; font-size: 20px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">ЭХО </br>ДОБРОТЫ</div>
            <div style="left: 493px; top: 19px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='index.html' class='fond1'>О фонде</a></div>
            <div style="left: 631px; top: 19px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='page.html' class='fond2'>Отчёты</a></div>
            <div style="left: 759px; top: 19px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='page2.html' class='fond3'>Пожертвовать</a></div>
            <div style="left: 963px; top: 19px; position: absolute; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word"><a href='#cont' class='found'>Контакты</a></div>
            <div style="width: 117px; height: 40px; left: 1130px; top: 11px; position: absolute">
            </div>

            <form action="page3.html">
                <input type="submit"class='button' value="Войти"/>
            </form>

            <div style="left: 345px; top: 19px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">Новости</div>
        </div>
        <div style="width: 871px; left: 65px; top: 735px; position: absolute"><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 900; word-wrap: break-word">Онлайн-курс «Здоровье и активное долголетие»
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">С радостью сообщаем о запуске бесплатного онлайн-курса для пенсионеров «Здоровье и активное долголетие». В рамках курса участники смогут узнать о правильном питании, физической активности и психическом здоровье. <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word"><br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 900; word-wrap: break-word">Виртуальные встречи с психологом.<br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">
      <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 400; word-wrap: break-word">В связи с увеличением числа обращений пенсионеров за психологической помощью, мы запускаем серию виртуальных встреч с квалифицированными психологами. Эти встречи помогут пожилым людям справиться с одиночеством и стрессом в условиях изоляции.</span></div>
        <div style="width: 937px; left: 65px; top: 1192px; position: absolute; color: black; font-size: 24px; font-family: Montserrat Alternates; font-weight: 500; word-wrap: break-word">Следите за нашими обновлениями и присоединяйтесь к благотворительным инициативам, чтобы вместе поддерживать наших пожилых граждан!</div>
        <img style="width: 427px; height: 360px; left: 987px; top: 903px; position: absolute" src="https://s3-alpha-sig.figma.com/img/a42e/123e/f53a1333042577c9650cc3e798a9c7fb?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UreGBSNR0va5Jk0YYabQL0EiRW1bb7vM6kRYHeWkEjo-sGA0XCVnkVO4Iq1jhGRBZ4KFTGRVLFjzRMSFQrU5KFhEXUyrMqlyk560Eq-qV63TEp4~1XUnbpf0TVvNiUbnvd~S42BeP1954cUzuPx7cmuvuTt0b36W5XPPPX~bYcfasr~Zl-YgwMaAQ8KeRZKJVgkXHsIqz6qw~zA3Wi2dnoQQG3pjkxKeVdrzp14-a76KN5u20JX1YTuind-sr2U5EeYYqCWCZ0nYH374Se27QNGqGpBqwaKZAx3le4Xi7c0DMMqyeYuMafOUFtyHko5TnUtnndkeyUfGbsJ5ojgeIQ__" />
        <img style="width: 401px; height: 354px; left: 987px; top: 543px; position: absolute" src="https://s3-alpha-sig.figma.com/img/1a2b/6865/1a50fd6907c184b3ea21ceb70d1afea3?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=KcvZKfveG6iVIZfEJiak1a-9oQGCZRaZWO7AbOe-SYsBwAoweNQkgWEu5wzwanb5m96yA0L7d~A1Q0nFw~xDYzUIceDF29vIECQMzI05ED-nuuDUs9aBxCsoBHjHZ6gig7clxdObvizm12HV0oQ68jZWjCB5ciwY9zrqrdvLBbq99fO4gK91h-ZieEN4FuTbHroq-qnTNUg-4g9V9mselA39bxCPJSuiEc8fiwvKjRL~jPgvnrfsEyxPyCkKyGXoun-ROmKgpO-~18J9Omcei7IhCq9i0K0yvOn6TqHeTjDNq5xYj3QOVUD60a46Oz4tSn9klbQbFXKvHXUFfPr8xw__" />
        <img style="width: 401px; height: 364px; left: 987px; top: 163px; position: absolute" src="https://s3-alpha-sig.figma.com/img/a274/35af/f8897b06dcb89e3702f6793c213dc5b2?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YNm72oygL3GWgXtLJBsYN6Sy0oXQdIVOb2YoYbJHzXGlQWGp9~Z8KDmsTYqDcNubPGv6Xq5L8iWCMNHEotc9ionDmN-oA0ox4nzDzzfIFpYsPwDz-9uLpTuhZzov~vO3z-J-6ILxZq6Xm171Jcap5jX2VvurWfzVAHFgnjtxHCygvzNX0qCkXrdw7hsgLyfo9u~OOlgDWyR76c8ezMgVa55ZjmR6LHyZ5ITNgn~4GErOtOn6JTWGP-Gt2GQDRvsM1qzTK1zdV5aHL8aPDrvL-c3Kk-W8nSDjpwwfG2VHeg4oqu0vDe0mA72RWw7ZjJKtalof0OE7nFd45rttWyVCzQ__" />
    </div>
</body>
</html>